<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harshith Portfolio</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <nav class="navigation container">
        <div class="nav-brand">iAmDeveloper</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a href="/" class="link link-active">home</a>
            </li>
            <li class="list-item-inline">
                <a href="/" class="link">products</a>
            </li>
            <li class="list-item-inline">
                <a href="/" class="link">about</a>
            </li>
        </ul>
    </nav>
    <header class="hero">
        <img src="images/hero.svg" alt="header" class="hero-img">
        <h1 class="hero-heading">Harshith <span class="hero-heading-inverted">Venkatesh</span> </h1>
    </header>
    <section class="section">
        <div class="container container-center">
            <h1>White section</h1>
            <p>This is for background</p>
            <p>This week the Servo project took a significant next step in bringing community-led transformative
                innovations to the web by announcing it will be hosted by the Linux Foundation. Mozilla is pleased to
                see Servo, which began as a research effort in 2012, open new doors that can lead it to </p>
        </div>
    </section>
    <section class="section ow">
        <div class="container container-center">
            <h1>Offf White section</h1>
            <p>This is for background</p>
            <p>Did November spawn a monster this year? In truth, November has given us a few snippets of good news, far
                from the least of which is the launch of Firefox 83! In this release we’ve got a few nice additions,
                including Conical CSS gradients, overflow debugging in the Developer Tools, </p>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-header"></div>
            Some small heading inside
        </div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline "> <a href="/" class="link social-links">social one</a> </li>
            <li class="list-item-inline "> <a href="/" class="link social-links">social two</a> </li>
            <li class="list-item-inline "> <a href="/" class="link social-links">social three</a> </li>
        </ul>

    </footer>
</body>

</html>